@import url('https://fonts.googleapis.com/css?family=Dynalight');
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --primary-color:  #C8033C;
  --primary-dark: #7e640c41;
  --background-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

span {color: var(--background-color);}

.main-text {
  /* max-height: 100vh; */
  font-family: 'Oxygen', sans-serif;
  font-size: 13pt;
  color: #333331;
  line-height: 1.8;
  max-width: 100%;

}

  .masthead {
    font-family: 'Dynalight';
    align-items: top;
    margin-top: 20px;
    font-size: 100pt;
    font-weight: 400;
    color: #b8264b;
  }
  .subs {
    font-family: 'Cinzel';
    align-items: center;
    font-size: 17pt;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #7a7664;
    letter-spacing: 1.5em;
   }

.container {
  display: grid;
  padding-left: 10em;
  padding-right: 8em;
  column-gap: 1em;
  row-gap: 2em;
  align-items: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  grid-template-areas: 
  'header header header header'
  'main main aside aside' 
  'footer footer footer footer';
} 

.item-1 {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center child elements horizontally */
}
 .item-2 {
  grid-area: main;
  align-self: start;
 }

 .item-3 {
  grid-area: aside;
  align-self: start;
 }

 /* .item-5 {
  grid-area: main;
  justify-self: start;
 } */

 .item-4 {
  grid-area: footer;
 }

      .mainpicture_img {
        display: inline-block; /* Ensure the container shrinks to fit the image */
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        margin-left: 50px;
        border-width: 0px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
      }
      
      .secondary_img {
        display: inline-block; 
        margin-bottom: 10px; 
        max-width: 100%; /* Adjust the width as needed */
        height: auto;
        border-width: 0px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Maintain the drop shadow */
      }
      

      .footerstyle {
        font-family: 'Oxygen', sans-serif;
        color: #ffffff;
        background-color: #2e324bc4;
        text-align: center;
        font-size: 7pt;
        margin-bottom: 3rem;
      }
        
      .footer_a {
        line-height: 1.15;
        font-size: 4rem;
        background-color: #eeebeefb;
        width: 100%;
        text-align: center;
        padding: 1rem;
       
      }



      /* @media (min-width: 60em) {
        .wrapper {
          grid-template-areas:
            "hd hd hd   hd   hd   hd   hd   hd hd"
            "sd sd main main main main main ft ft";
        }
      } */