@import url('https://fonts.googleapis.com/css?family=Dynalight');
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --primary-color:  #C8033C;
  --primary-dark: #7e640c41;
  --background-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

span {color: var(--background-color);}


.bodytext {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  font-size: 15pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.masthead {
  font-family: 'Dynalight';
  align-items: top;
  margin-top: 40px;
  margin-left: 110px;
  font-size: 90pt;
  font-weight: 400;
  color: #b8264b;
}


.headline2{
  font-family: 'Dynalight';
  align-items: top;
  margin-top: 40px;
  margin-left: 110px;
  font-size: 60pt;
  font-weight: 400;
  color: #b8264b;
}


.header {
  align-items: top;
  background-color: #2365e9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20pt;
  color: rgb(223, 119, 119);
}

.container {
  padding: 0 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: center;
  color: rgb(254, 254, 255);
  
}

.main {
  max-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates a 2-column grid */
  gap: 10px; /* Adjust the gap between columns as needed */
  background-color: rgb(252, 251, 251);
  padding-top: 4rem;

}

.main .container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.maincontent {
  display: grid;
  grid-column: span 2; /* Span across 2 columns */
  flex-direction: column;
  margin-left: 12rem;
  margin-right: 10rem;
  background-color: #ffffff;
  padding-top: 1rem; padding-bottom: 2rem; 
  max-width: 100%; 
}

.maincontent_text {
  font-family: 'Oxygen', sans-serif;
  font-size: 13pt;
  color: #333331;
  line-height: 1.8;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;

  
}

.mainpicture_img {
  grid-column: 2; 
  display: inline-block; /* Ensure the container shrinks to fit the image */
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  margin-right: 200px;
  border-width: 0px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: start;
  color: rgb(254, 254, 255);
  
}


.secondary_img {
  float: left; 
  margin: 20px; /* Add some margin around the image */
  max-width: 100%; /* Adjust the width as needed */
  height: auto;
  border-width: 0px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Maintain the drop shadow */
}

.tertiary_img {
  float: right; 
  margin: 20px; /* Add some margin around the image */
  max-width: 100%; /* Adjust the width as needed */
  height: auto;
  border-width: 0px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Maintain the drop shadow */
}

.footerstyle {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  background-color: #2e324bc4;
  text-align: center;
  font-size: 7pt;
  margin-bottom: 3rem;
}
  
.footer_a {
  line-height: 1.15;
  font-size: 4rem;
  background-color: #eeebeefb;
  width: 100%;
  text-align: center;
  padding: 1rem;
 
}

.footer_a:hover,
.footer_a:focus,
.footer_a:active {
  text-decoration: underline;
}




 .subs {
  font-size: 17pt;
  margin-top: 30px;
  margin-left: 110px;
  color: #7a7664;
  letter-spacing: 1.5em;
 }

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
